body {
    font-family: system-ui;
}

#error {
    color: red;
}

#welcome {
    text-align: center;
    color: blue;
    font-weight: bold;
}

.form-group {
    font-weight: bold;
}

.form-control {
    position: absolute;
    right: 10px;
    width: 200px;
    border: 1px solid grey;
    margin-top: 3px;
}

.button {
    margin-left: 10px;
    margin-right: 2px;
    width: 150px;
    height: 60px;
    font-weight: bold;
    float: right;
}

.button2 {
    font-weight: bold;
}

.button3 {
    font-weight: bold;
    float: right;
    margin-top: -50px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

#img-1 {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
